.material-icons{
	vertical-align:text-bottom;
}

body{
	font-family:Karla;
	margin:0;
	padding:0;
	background-size:100%;
	background-attachment:fixed;
	background-repeat:no-repeat;
	overflow-x:hidden;
	height:100%;
	color:#fff;
	image-rendering: optimizeSpeed;
    -ms-interpolation-mode: bicubic;
	image-rendering: -webkit-optimize-contrast;
	
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button{
	font-family:Karla;
	vertical-align:middle;
	border:0;
	outline:none;
	background:transparent;
	cursor:pointer;
}

a{
	color:inherit;
	text-decoration:none;
	pointer-events:all;
}
a:hover{
	text-decoration:underline;
}
h1{
	display:inline-block;
	padding:0;margin:0;
	font-size:50px;
}
h2{
	display:inline-block;
	padding:0;margin:0;
	font-size:40px;
}	
h3{
	display:inline-block;
	padding:0;margin:0;
	font-size:30px;
}
h4{
	display:inline-block;
	padding:0;margin:0;
	font-size:20px;
}
h5{
	display:inline-block;
	padding:0;margin:0;
	font-size:16px;
}
h6{
	display:inline-block;
	padding:0;margin:0;
	font-size:13px;
}
h1,h2,h3{
	font-weight:normal;
}
h4,h5,h6,i{
	font-weight:normal;
	text-decoration:inherit;
}
p{
	display:inline-block;
	padding:0;margin:0;
	font-size:14px;
	text-decoration:inherit;
}
input{
	font-family:Karla;
}
input[type="text"]{
	border:none;
	outline:none;
	padding:5px 5px 5px 5px;
	border-top:2px solid #ccc;
}

/**http://projects.lukehaas.me/css-loaders/**/
.loader:before,
.loader:after,
.loader {
	border-radius:50%;
	width:1.5em;
	height:1.5em;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation:loading 1.8s infinite ease-in-out;
	animation:loading 1.8s infinite ease-in-out;
}
.loader {
	left:-50%;
	top:-40%;
	position:relative;
	-webkit-transform:translateZ(0);
	-ms-transform:translateZ(0);
	transform:translateZ(0);
	-webkit-animation-delay:-0.16s;
	animation-delay:-0.16s;
}
.loader:before {
	left:-2.0em;
	-webkit-animation-delay:-0.32s;
	animation-delay:-0.32s;
}
.loader:after {
	left:2.0em;
}
.loader:before,
.loader:after {
	content:'';
	position:absolute;
	top:0;
}
@-webkit-keyframes loading{
	0%,
	80%,
	100% {
	box-shadow:0 1.5em 0 -0.7em #ccc;
	}
	40% {
	box-shadow:0 1.5em 0 0 #ccc;
	}
}
@keyframes loading{
	0%,
	80%,
	100% {
	box-shadow:0 1.5em 0 -0.7em #ccc;
	}
	40% {
	box-shadow:0 1.5em 0 0 #ccc;
	}
}
/***********************************/

.layer{
	position:fixed;
	min-height:100%;
	width:100%;
	z-index:0;
}
.layer-header{
	margin-top:-35%;
	width:100%;
	height:35%;
	pointer-events:none;
}

#menu-back{
	position:fixed;
	width:0%;
	height:100%;
	transition:0.2s;
	text-decoration:none;
	pointer-events:none;
}
#menu-group{
	position:fixed;
	margin:20px 0 0 3%;
	opacity:0;
	z-index:99;
}
#menu-group button{
	margin-right:30px;
}
#menu-group i{
	font-size:33px;
}
#menu-button{
	height:50px;
	width:50px;
	color:#fff;
	background:#000;
	border-radius:50%;
	opacity:0.5;
	cursor:pointer;
	transition:0.5s;
}
#menu-list{
	position:fixed;
	z-index:2;
	top:-13px;left:0;
	list-style-type:none;
	transition:0.05s;
	opacity:0;
	width:25%;
	height:100%;
	overflow:hidden;
	visibility:hidden;
	
	pointer-events:none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#menu-list li{
	font-weight:bold;
	font-size:14px;
	position:absolute;
	text-align:left;
	color:#fff;
	white-space:nowrap;
}
#menu-list li:hover{
	margin-left:25px;
	cursor:pointer;
}
#menu-list img{
	background-size:100%;
}

#search-button{
	width:50px;
	height:50px;
	background:transparent;
	cursor:pointer;
	opacity:0.4;
	transition:0.5s;
}
#search-button:hover{
	opacity:8;
}
#search-group{
	position:fixed;
	width:100%;
	height:100%;
	z-index:101;
	visibility:hidden;
}
#search-area{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.85);
	transition:0.5s;
	opacity:0;
}

::-webkit-input-placeholder { color:#ccc; }
::-moz-placeholder { color:#ccc; }
input:-ms-input-placeholder{ color:#ccc; }
#search-box{
	font-family:Karla;
	position:absolute;
	outline:none;
	border:none;
	font-size:30px;
	border-bottom:2px solid #ccc;
	width:80%;
	margin:30px 10% 0 10%;
	padding:5px 5px 5px 5px;
	border-radius:4px;
	transition:0.5s;
	opacity:0;
}
#search-results{
	position:absolute;
	margin:80px 10% 0 10%;
	width:80%;
}
.search-item{
	font-family:Karla;
	width:100%;
	color:#666;
	padding:5px 0 10px 0;
	border-bottom:1px solid #ddd;
}
.search-item:hover{
	background:rgba(255,255,255,0.5);
}
.search-item img{
	position:absolute;
	width:50px;
	height:50px;
	outline:none;
	margin-left:0;
}
.search-item h3{
	word-wrap:break-word;
	margin:0 0 0 50px;
}
.search-item p{
	width:80%;
	color:#999;
	word-wrap:break-word;
	margin:0 0 0 50px;
}

#logo{
	position:fixed;
	z-index:100;
    height:auto;
	width:10%;
	top:3%;
	right:3%;
	cursor:pointer;
	transition:1s;
}

@media screen and (max-width:600px){
	h1{
		font-size:40px;
	}
	h2{
		font-size:30px;
	}	
	h3{
		font-size:20px;
	}
	h4{
		font-size:14px;
	}
	h5{
		font-size:12px;
	}
	h6{
		font-size:10px;
	}
	p{
		padding:0;margin:0;
		font-size:12px;
	}
	
	#menu-button{
		height:40px;
		width:40px;
		background-size:100%;
	}
	#menu-group{
		margin-top:7px;
	}
	#menu-group button{
		margin:0 5px 0 0;
	}
	#menu-group i{
		font-size:25px;
	}
	
	#search-box{
		font-size:20px;
	}
	.search-item{
		padding:5px 0 10px 0;
	}
	.search-item h3{
		font-size:20px;
	}
	#search-results{
		margin-top:67px;
	}
	
	#menu-list{
		width:15%;
		background-size:100%;
	}
	#menu-list li{
		margin-left:-34px;
		color:#fff;
	}
	#menu-list li:hover{
		margin-left:-12px;
	}
}